<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>vue.js demo</title>
  <link rel="stylesheet" href="static/css/uikit.min.css">
  <link rel="stylesheet" href="static/css/uikit.gradient.min.css">
  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/vue.js"></script>
  <script>
    $(function() {
      var vm = new Vue({
        el:'#vm',
        data:{
	  users:[],
	  username:"",
	  mobile:"",
	  selCmmy:0,
	  cmmys:[],
	  checked:false
	},
        methods:{
	  edit_user:function(user){
	    console.log('edit user :' + user);
	  },
          delete_user:function(user){
	    var url = '/user/del?id=' + user.id;
	    console.log(url);
          },
          batchDel:function(){
	    var ids = [];
	    for (var i in this.users) {
              if (this.users[i].checked) {
                ids.push(this.users[i].id);
	      }
	    }
	    var url = '/use/del?id[]=' + ids;
	    console.log(url);
	  },
          search:function(){
            var url = '/user/list?name=' + this.username + '&mobile=' + this.mobile + '&cmmyId=' + this.selCmmy;
	    console.log(url);
          },
          allCheck:function(){
            console.log(this.checked);
            var isCheck = this.checked;
	    this.users = this.users.map(function(user){
	      user.checked = isCheck;
	      return user;
            });
	  }
	}	
      });
      loadUser();
      loadCmmy();
      function loadUser() {
        var result = [];
        for (var i=0; i<10; i++){
          result.push({
            id: i,
            name:'luob',
            mobile:'1835960258' + i,
            cmmy:'云聚',
	    checked:false
          });  
        }
        vm.users = result;
      }
      function loadCmmy() {
        var cmmys = [];
	cmmys.push({text:"A", value:1});
	cmmys.push({text:"B", value:2});
	vm.cmmys = cmmys;
      }
    });
  </script>
</head>
  <body>
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div id="vm" class="uk-width-1-1">
	<div class="uk-row">
	  <button v-on="click:batchDel()" class="uk-button">批量删除</button>
	  <input v-model="username" type="text" placeholder="用户名">
	  <input v-model="mobile" type="text" placeholder="手机号">
          <select v-model="selCmmy" options="cmmys">
            <option value="0">请选择小区</option>
	  </select>
	  <button v-on="click:search()" class="uk-button">搜索</button>
	</div>
        <table class="uk-table uk-table-hover">
          <thead>
            <tr>
	      <th class="uk-width-1-10"><input v-model="checked" v-on="click:allCheck()" type="checkbox"></th>
              <th class="uk-width-1-10">编号</th>
              <th class="uk-width-2-10">用户名</th>
              <th class="uk-width-2-10">手机号</th>
              <th class="uk-width-2-10">小区</th>
              <th class="uk-width-1-10">操作</th>
            </tr>
          </thead>	
          <tbody>
            <tr v-repeat="user:users">
	      <td>
	        <input v-model="user.checked" type="checkbox">
	      </td>
              <td>
                <span v-text="user.id"></span>
              </td>
              <td>
                <span v-text="user.name"></span>
              </td>
              <td>
                <span v-text="user.mobile"></span>
              </td>
              <td>
                <span v-text="user.cmmy"></span>
              </td>
              <td>
                <a href="#0" v-on="click:edit_user(user)">编辑</a>
                <a href="#0" v-on="click:delete_user(user)">删除</a>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
